* {
    margin: 0;
    padding: 0;
  }



/*Particle.js*/
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
  vertical-align: bottom;
}

/*Perfil card*/

.perfil-card {
  display: block;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 #007ecc;
  max-width: 400px;
  margin: auto;
  text-align: center;
  color: aliceblue;
  margin-top: 5%;
}

.title {
  color: #fffff9;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #007ecc;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: whitesmoke;
}

button:hover, a:hover {
  opacity: 0.7;
}